<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" lang="hu-HU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2"/>
<title>17/1999. (II. 5.) Kormány rendelet - {oldalcim}</title>
 <meta name="keywords" content="{kulcsszo}" />
<meta name="description" content="{leiras}" />
<script type="text/javascript" src="scripts/scripts.js"></script>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link rel="stylesheet" href="my_content.css" type="text/css"/>
</head>
<body class="{body_class}" onload="writetitle()">
<p class='cim1'>17/1999. (II. 5.) Kormány rendelet:</p>
<p class='cim3'>A távollevők között kötött szerződésekről</p>
<p class="kisszoveg">
A Kormány a fogyasztóvédelemről szóló 1997. évi CLV. törvény (a továbbiakban: Fvtv.) 55. §-ának e) pontjában foglalt felhatalmazás alapján a következőket rendeli el:
<br /><br />
"1. § (1) A rendelet hatálya arra a szerződésre terjed ki, amelyet fogyasztó [Ptk. 685. § d) pont] és fogyasztónak nem minősülő személy vagy szervezet (a továbbiakban együtt: értékesítő) köt egymással az értékesítő áruértékesítő, illetve szolgáltató tevékenységi körében, kizárólag egy vagy több távközlő eszköz használata útján (távollevők között kötött szerződés).
<br /><br />
(2) A rendelet akkor alkalmazható, ha külön jogszabály a rendelet hatálya alá tartozó szerződésről eltérően nem rendelkezik.
<br /><br />
(3) A rendelet hatálya nem terjed ki:
<br /><br />
a) a távértékesítés keretében kötött pénzügyi ágazati szolgáltatási szerződésekről szóló törvény által szabályozott pénzügyi ágazati szolgáltatásokra irányuló szerződésekre;
<br /><br />
b) automatából történő értékesítésre;
<br /><br />
c) nyilvános távbeszélő állomás igénybevétele útján a távbeszélő szolgáltatást nyújtó szervezettel kötött szerződésre;
<br /><br />
d) az építési szerződésre;
<br /><br />
e) ingatlan tulajdonjogának vagy ingatlanra vonatkozó más jog megszerzésére irányuló szerződésekre, kivéve a bérleti szerződést;
<br /><br />
f) az árverésen kötött szerződésre.
<br /><br />
(4) Nem kell alkalmazni a 2-6. §, valamint a 7. § (1) bekezdésének rendelkezéseit
<br /><br />
a) az élelmiszerek, valamint egyéb mindennapi fogyasztásra szolgáló áruk rendszeres házhozszállítására vonatkozó szerződésekre, továbbá
<br /><br />
b) az olyan szállást nyújtó, szállítási, étkeztetési vagy szabadidős szolgáltatásokra vonatkozó szerződésekre, amelyek alapján az értékesítő e szolgáltatásokat meghatározott időpontban vagy meghatározott időszakban nyújtja.
<br /><br />
(5) E rendelet alkalmazásában távközlő eszköz: bármely eszköz, amely alkalmas a felek távollétében - szerződés megkötése érdekében - szerződési nyilatkozat megtételére. Ilyen eszköz különösen a címzett vagy a címzés nélküli nyomtatvány, a szabványlevél, a sajtótermékben közzétett hirdetés megrendelőlappal, a katalógus, a telefon, az automata hívókészülék, a rádió, a videotelefon, videotex (mikroszámítógép képernyővel) billentyűzettel vagy érintőképernyővel, az elektronikus levél (e-mail), a távmásoló (telefax) és a televízió.
<br /><br />
2. § (1) Az értékesítő a szerződés megkötése előtt kellő időben köteles a fogyasztót tájékoztatni:
<br /><br />
a) az értékesítő cégnevéről (nevéről), székhelyéről (lakóhelyéről), a külön jogszabályban meghatározott nyilvántartásba vételi számáról, adószámáról és telefonszámáról;
<br /><br />
b) a szerződés tárgyának lényeges tulajdonságairól;
<br /><br />
c) az ellenszolgáltatásról, beleértve az ellenszolgáltatáshoz kapcsolódó egyéb fizetési kötelezettséget is;
<br /><br />
d) szükség szerint a szállítás költségéről;
<br /><br />
e) a fizetés, a szállítás vagy a teljesítés egyéb feltételeiről;
<br /><br />
f) az elállás jogáról (4-5. §);
<br /><br />
g) a távközlő eszköz használatának díjáról, ha azt az alapdíjtól eltérően állapítják meg;
<br /><br />
h) az ajánlati kötöttség idejéről;
<br /><br />
i) a szerződés legrövidebb időtartamáról olyan esetben, amikor a szerződésben foglaltak teljesítésére folyamatosan vagy ismétlődően kerül sor.
<br /><br />
(2) Az értékesítő az (1) bekezdés szerinti tájékoztatási kötelezettségnek egyértelműen, közérthetően és pontosan, az igénybe vett távközlő eszköznek megfelelő módon köteles eleget tenni.
<br /><br />
(3) Ha az értékesítő telefonon tesz szerződéskötésre ajánlatot a fogyasztónak, annak kezdetekor köteles közölni legalább cégnevét (nevét), székhelyét (lakóhelyét) és telefonszámát, valamint a fogyasztó figyelmét kifejezetten fel kell hívnia szerződéskötésre irányuló szándékára.
<br /><br />
3. § (1) Az értékesítő köteles a fogyasztót a szerződés megkötése előtt kellő időben, de legkésőbb a szerződés megkötésekor a 2. § (1) bekezdésének a)-f) pontjában foglaltakról írásbeli tájékoztatóval vagy más, a szóbeli tájékoztatást megerősítő dokumentummal (a továbbiakban együtt: írásbeli tájékoztató) ellátni.
<br /><br />
(2) Az írásbeli tájékoztatónak az (1) bekezdésben előírtakon felül tartalmaznia kell:
<br /><br />
a) a 4. § szerinti elállási jog gyakorlásának feltételeit, módját és következményeit, ideértve a 4. § (5) bekezdésében, a 6. §-ban és a 7. § (3) bekezdésében foglaltakat, továbbá azt az esetet is, amikor a fogyasztót az 5. § alapján az elállás joga nem illeti meg;
<br /><br />
b) az értékesítő azon telephelye (fiókja) vagy egyéb szervezeti egysége címét, ahol a fogyasztó kifogásait érvényesítheti;
<br /><br />
c) a szavatosság, illetve a jótállás feltételeit, valamint a teljesítést követően igénybe vehető kiegészítő szolgáltatás (alkatrészellátás, javítószolgálat) biztosítását;
<br /><br />
d) a szerződés megszüntetésének lehetőségét, ha az határozatlan időre szól, vagy tartama az egy évet meghaladja.
<br /><br />
(3) Az (1)-(2) bekezdésben foglaltak nem alkalmazhatóak távközlő eszköz útján egyetlen alkalommal nyújtott olyan szolgáltatás esetében, amelynek ellenértékét a távközlő eszköz üzemeltetője részére kell megfizetni. A fogyasztót azonban ilyen esetben is tájékoztatni kell az értékesítő (2) bekezdés b) pontjában meghatározott címéről.
<br /><br />
4. § (1) A fogyasztó a szerződéstől nyolc munkanapon belül indokolás nélkül elállhat.
<br /><br />
(2) A fogyasztó az elállás jogát attól a naptól kezdve gyakorolhatja, amikor az árut átvette, szolgáltatás nyújtása esetében pedig, amikor a szerződést megkötötte, feltéve, hogy az értékesítő a 3. § szerinti tájékoztatási kötelezettségének eleget tett.
<br /><br />
(3) Ha az értékesítő nem tesz eleget a 3. § szerinti tájékoztatási kötelezettségének, a fogyasztó az elállás jogát az áru átvételének napjától, szolgáltatás nyújtása esetében pedig a szerződés megkötésének napjától számított három hónapon belül gyakorolhatja.
<br /><br />
(4) Ha a 3. § szerinti tájékoztatásra a (3) bekezdésben meghatározott három hónapon belül sor kerül, a fogyasztó számára az elállásra nyitva álló nyolc munkanapos határidő attól a naptól kezdődik, amikor a tájékoztatót kézhez kapta.
<br /><br />
(5) Az értékesítő köteles a fogyasztó által kifizetett összeget haladéktalanul, de legkésőbb az elállást követő harminc napon belül visszatéríteni. A fogyasztó viseli az elállási jog gyakorlása miatt az áru visszaszolgáltatásával kapcsolatban felmerült költségeket. A fogyasztót ezenfelül egyéb költség nem terheli. Az értékesítő azonban követelheti az áru nem rendeltetésszerű használatából eredő kárának megtérítését.

5. § A felek eltérő megállapodása hiányában a fogyasztó nem gyakorolhatja a 4. § szerinti elállási jogot
<br /><br />
a) szolgáltatás nyújtására vonatkozó szerződés esetében, ha a nyolc munkanapos elállási határidő lejárta előtt az értékesítő a teljesítést a fogyasztó beleegyezésével megkezdte;
<br /><br />
b) olyan áru értékesítése, illetve szolgáltatás nyújtása esetében, amelynek ára, illetve díja a pénzpiac értékesítő által nem irányítható ingadozásától függ;
<br /><br />
c) olyan áru értékesítése esetében, amely a fogyasztó személyéhez kötött, illetve amelyet a fogyasztó utasításai alapján vagy kifejezett kérésére állítottak elő, vagy amely természeténél fogva nem szolgáltatható vissza vagy gyorsan romlandó;
<br /><br />
d) hang-, illetve képfelvétel, valamint számítógépi szoftver példányára vonatkozó szerződés esetében, ha a csomagolást a fogyasztó felbontotta;
<br /><br />
e) hírlap, folyóirat és időszaki lap terjesztésére vonatkozó szerződés esetében;
<br /><br />
f) szerencsejáték-szerződés esetében.
<br /><br />
6. § (1) Ha az áru árát vagy a szolgáltatás díját részben vagy egészben az értékesítő által nyújtott kölcsön [Fvtv. 2. § d) pont] fedezi, a fogyasztó 4. § szerinti elállási jogának gyakorlása a fogyasztási kölcsönszerződést is felbontja.
<br /><br />
(2) A fogyasztó az értékesítőnek a fogyasztási kölcsönszerződés felbontásából eredő kárát nem köteles megtéríteni, és tőle kamat vagy egyéb költség sem követelhető. Az értékesítő azonban követelheti a fogyasztótól a kölcsönszerződés megkötéséből eredő kárának megtérítését, feltéve, hogy a kölcsönszerződésben ezt a kár elemeinek és összegszerűségének meghatározásával kifejezetten kikötötte, és a 3. § szerinti tájékoztatási kötelezettségének eleget tett.
<br /><br />
(3) Az (1)-(2) bekezdésben foglaltakat kell megfelelően alkalmazni, ha az áru árát vagy a szolgáltatás díját részben vagy egészben harmadik személy által nyújtott fogyasztási kölcsön (a hitelintézetekről és a pénzügyi vállalkozásokról szóló 1996. évi CXII. törvény 2. számú melléklete III. 5. pont) fedezi, feltéve, hogy a fogyasztási kölcsönszerződés a pénzügyi intézmény és az értékesítő előzetes megállapodásán alapul. Az értékesítő köteles a fogyasztó elállásáról a pénzügyi intézményt haladéktalanul értesíteni.
<br /><br />
7. § (1) A felek eltérő megállapodása hiányában az értékesítő a fogyasztótól kapott felszólítás kézhezvételétől számított harminc napon belül köteles a szerződés szerinti teljesítésre.
<br /><br />
(2) Ha az értékesítő a szerződésben vállalt kötelezettségét azért nem teljesíti, mert a szerződésben meghatározott áru nem áll rendelkezésére, illetve a megrendelt szolgáltatást nem áll módjában nyújtani, köteles erről a fogyasztót haladéktalanul tájékoztatni, valamint a fogyasztó által fizetett összeget haladéktalanul, de legkésőbb harminc napon belül visszatéríteni. E kötelezettség teljesítése az értékesítőt nem mentesíti szerződésszegése egyéb következményei alól.
<br /><br />
(3) Ha az értékesítő a szerződésben meghatározott módon helyettesítő áruval, illetve szolgáltatással teljesít, a 4. § szerinti elállási jog gyakorlása folytán az áru visszaszolgáltatásával kapcsolatban felmerült költségek az értékesítőt terhelik. A költségek viseléséről, valamint a megfelelően helyettesítő áruval, illetve szolgáltatással történő teljesítésről az értékesítő egyértelműen és pontosan köteles a fogyasztót tájékoztatni.
<br /><br />
8. § (1) Az értékesítő nem követelhet a fogyasztótól ellenszolgáltatást, ha olyan árut értékesít, illetve olyan szolgáltatást nyújt, amelyet korábban a fogyasztó nem rendelt meg.
<br /><br />
(2) A fogyasztó nyilatkozatának elmulasztása esetén sem lehet vélelmezni az értékesítő ajánlatának - hallgatólagos - elfogadását.
<br /><br />
9. § (1) A fogyasztó kifejezett hozzájárulása szükséges ahhoz, hogy az értékesítő a szerződéskötés céljából automata hívókészüléket, illetve távmásolót (telefaxot) használjon.
<br /><br />
(2) Ha külön jogszabály eltérően nem rendelkezik, az értékesítő a fogyasztó kifejezett tiltakozásának hiányában használhat olyan, közvetlen kapcsolatot lehetővé tevő távközlő eszközt, amely nem tartozik az (1) bekezdés hatálya alá.
<br /><br />
10. § Az értékesítőt terheli annak bizonyítása, hogy a rendeletben meghatározott tájékoztatási kötelezettségének eleget tett, a határidők betartására vonatkozó előírásokat megtartotta, valamint a fogyasztó 9. §-ban előírt hozzájárulását beszerezte.
<br /><br />
11. § (1) A fogyasztó a rendeletben meghatározott jogáról érvényesen nem mondhat le.
<br /><br />
(2) A rendeletben foglaltaktól csak a fogyasztó javára lehet eltérni.
<br /><br />
(3) Ha a rendelet hatálya alá tartozó szerződés az Európai Gazdasági Térség valamelyik államával szoros kapcsolatban áll, harmadik ország jogának a felek által a szerződésre irányadó jogként való választása érvénytelen annyiban, amennyiben e harmadik ország joga az említett államnak a 97/7/EK európai parlamenti és tanácsi irányelvet átültető jogszabálya eltérést nem engedő rendelkezésével ellentétes. Az érintett kérdésben a felek által választott jog helyett az említett állam jogát kell a szerződésre alkalmazni.
<br /><br />
12. § (1) Ez a rendelet 1999. március 1-jén lép hatályba, rendelkezéseit csak a hatálybalépését követően kötött szerződésekre kell alkalmazni.


(<br /><br />


(3) Ez a rendelet a távollévők között kötött szerződések esetén a fogyasztók védelméről szóló, 1997. május 20-i 97/7/EK európai parlamenti és tanácsi irányelvnek való megfelelést szolgálja; az irányelv 8. cikke kivételével."
<br /><br />
Ha bármilyen ezen webhelyre vonatkozó adattal, tartalommal vagy vizuális megjelenéssel kapcsolatos kérdése, megjegyzése vagy panasza van kérjük vegye fel velünk a kapcsolatot az erre a célra kijelölt elérhetőségünkön keresztül!

</p>

</body>
</html>