<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="hu" lang="hu-HU">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2"/>
<title>49/2003. (VII. 30.) GKM rendelet - {oldalcim}</title>
 <meta name="keywords" content="{kulcsszo}" />
<meta name="description" content="{leiras}" />
<script type="text/javascript" src="scripts/scripts.js"></script>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link rel="stylesheet" href="my_content.css" type="text/css"/>
</head>
<body class="{body_class}" onload="writetitle()">
<p class='cim1'>49/2003. (VII. 30.) GKM rendelet:</p>
<p class='cim3'>A fogyasztói szerződés keretében érvényesített szavatossági és jótállási igények intézéséről</p>
<p class="kisszoveg">
A Polgári Törvénykönyv módosításáról és egységes szövegéről szóló 1977. évi IV. törvény hatálybalépéséről és végrehajtásáról szóló 1978. évi 2. törvényerejű rendelet 22. §-ában foglalt felhatalmazás alapján - az igazságügyminiszterrel egyetértésben - a következőket rendelem el:
<br /><br />
"1. § A fogyasztói szerződés (a Magyar Köztársaság Polgári Törvénykönyvéről szóló 1959. évi IV. törvény, a továbbiakban: Ptk. 685. §-ának e) pontja) hibás teljesítése miatt, vagy jogszabályon alapuló jótállás keretében érvényesített kifogás intézése során e rendelet szabályai szerint kell eljárni, azoktól a fogyasztó hátrányára eltérni nem lehet.
<br /><br />
2. § Ha a fogyasztó szavatossági igényt kíván érvényesíteni a fogyasztói szerződés tárgyát képező szolgáltatást nyújtó forgalmazóval (a továbbiakban: forgalmazó) szemben, a fogyasztói szerződés megkötését bizonyítottnak kell tekinteni, ha a fogyasztó bemutatja az ellenérték megfizetését igazoló bizonylatot.
<br /><br />
3. § (1) A forgalmazó a fogyasztó kifogásáról jegyzőkönyvet köteles felvenni, amelyben rögzíti:
<br /><br />
a) a fogyasztó nevét, címét,
<br /><br />
b) a fogyasztási cikk (a továbbiakban: áru) megnevezését, vételárát,
<br /><br />
c) a vásárlás időpontját,
<br /><br />
d) a hiba bejelentésének időpontját,
<br /><br />
e) a hiba leírását,
<br /><br />
f) a fogyasztó által érvényesíteni kívánt igényt,
<br /><br />
g) a kifogás rendezésének módját.
<br /><br />
(2) Ha a kifogás rendezésének módja a fogyasztó igényétől eltér, ennek indokolását a jegyzőkönyvben meg kell adni.
<br /><br />
(3) A jegyzőkönyv másolatát a fogyasztónak át kell adni.
<br /><br />
(4) Ha a forgalmazó a fogyasztó igényének teljesíthetőségéről annak bejelentésekor nem tud nyilatkozni, álláspontjáról legkésőbb három munkanapon belül köteles értesíteni a fogyasztót.
<br /><br />
4. § (1) A forgalmazó köteles a fogyasztót tájékoztatni arról, hogy a kijavítást vagy kicserélést a Ptk. 306. §-ának (2) bekezdése értelmében - az áru tulajdonságaira és a fogyasztó által elvárható rendeltetésére figyelemmel - megfelelő határidőn belül, a fogyasztónak okozott jelentős kényelmetlenség nélkül kell elvégezni.
<br /><br />
(2) A forgalmazónak törekednie kell arra, hogy a kijavítást vagy kicserélést legfeljebb tizenöt napon belül elvégezze.
<br /><br />
5. § Javításra az árut elismervény ellenében kell átvenni. Az elismervényen fel kell tüntetni a fogyasztó nevét és címét, az áru azonosításához szükséges adatokat, az áru átvételének idejét, és azt az időpontot, amikor a fogyasztó a kijavított árut átveheti.
<br /><br />
6. §
<br /><br />
7. § (1) Ez a rendelet 2003. szeptember 1-jén lép hatályba.
<br /><br />
(2) A rendelet hatálybalépésével egyidejűleg hatályát veszti a vásárlók minőségi kifogásainak intézéséről szóló 4/1978. (III. 1.) BkM rendelet, valamint az azt módosító 4/1993. (III. 26.) IKM rendelet, 47/1995. (X. 6.) IKM rendelet, 37/1996. (VI. 28.) IKM rendelet és 54/1999. (X. 6.) GM rendelet.
<br /><br />
(3) E rendelet 6. §-a 2004. június 30-án hatályát veszti."
<br /><br />
Ha bármilyen ezen webhelyre vonatkozó adattal, tartalommal vagy vizuális megjelenéssel kapcsolatos kérdése, megjegyzése vagy panasza van kérjük vegye fel velünk a kapcsolatot az erre a célra kijelölt elérhetőségünkön keresztül!

</p>

</body>
</html>