{uzenet}
<form method="post" action="">
		  <label class="label" for="email"> Email címe:</label>
		  <input class="input" name="email" type="text" value="{email}" /><font size="4" style="margin-left: 1em; color:red; white_space: nowrap; font-weight: bild;">*</font><br />
		  <label class="label" for="subject">Tárgy:</label>
		  <input class="input" name="subject" type="text" value="{subject}" /><br /><br />		 
		  <label class="label" for="message">Üzenet:</label>
		  <textarea name="message" rows="15" cols="30" style="resize: none;">
		  {message}</textarea><br />
		  <label class="label" for="submit">Üzenet elküldése:</label>
		  <input type="submit" name="send" value="Elküldés"/>		  
</form>