<p class="szoveg"><img style="float:right; padding-left: 1em;" src="images/garanciaalairas.jpg" width="200" height="130" border="0" alt="Üzenet írás" title="Üzenet írás" />
		<font class="cim2"><strong>KAPCSOLAT</strong></font><br /><br />
		<font class="cim3"><strong>ÜZENJEN, HÍVJON BENNÜNKET VAGY KERESSEN MEG SZEMÉLYESEN</strong></font></p>	
		<p class="szoveg"><strong>Címunk:</strong>1265 Budapesz, Õsz utca 32.</p>
		<p class="szoveg"><strong>
		Telefon:</strong>+36-20-550-4678</p>
		<p class="szoveg">
		<strong>Email üzenet:</strong><br /><br />
		</p>
		{email_urlap}
		
		