<p class="szoveg"><img style="float:right; padding-left: 1em;" src="images/marleg.jpg" width="87" height="130" border="0" alt="Az igazsá mérkege" title="Az igazsá mérkege" />
		<font class="cim2"><strong>REFERENCIÁK</strong></font><br /><br />
		<font class="cim3"><strong>A BUDAPESTI ÜGYVÉDI KAMARA</strong></font></p>	
		<p class="szoveg"><strong>Elnökségének a kamarai tagok interneten való hirdetése tárgyában kiadott állásfoglalása szerint</strong> a honlapon sajnos még akkor sem tüntethetõ fel megbízóink neve, ha õk ehhez elõzetesen, írásban hozzájárultak. Sikeres ügyvéd számára ez különösen rossz hír, mert a fentieken túl nem jeleníthetem meg ügyfeleim rólam szóló nyilatkozatait sem. Áraimról sem adhatok tájékoztatást honlapon keresztül, és nem is hirdethetek.</p>
		<p class="szoveg"><strong>
		Ha érdeklõdik munkám iránt, részletes bemutatkozó anyagomat vagy konkrét ajánlatomat közvetlenül, e-mailen, vagy postai úton nagyon szívesen megküldjük Önnek.</strong></p>
		<p class="szoveg">
		Elérhetõségem az <kbd><strong><a href="index.php?page=5">kapcsolat</a></strong></kbd> címû menüpont alatt található.</p>
		<p class="szoveg">
		Ügyvédi tevékenységem - magától értetõdõen - bizalmas jellegû. Ezért ügyfeleim írásbeli engedélyét kérem, hogy nevüket és az ügytípusokat (a konkrét ügyek megnevezését nem tartalmazó) leíró referencia-listát bemutathassam, ám ezt is kizárólag személyes tárgyalások alkalmával teszem.</p>
		<p class="szoveg">
		<strong><i>Köszönöm megértésüket!</i></strong></p>
		<p style="text-align:center;">
		<img src="images/FFkalapacs.jpg" border="0" title="Birói kalapács, paragrafussal" alt="Birói kalapács, paragrafussal" />
		</p>

		
