#tinymce{
	background-color: #fff;
}

.cim1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 36px;
	color:#599d88;
	margin-top:5px;
}
.cim2 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.cim3 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.szoveg {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}
.kisszoveg {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.kisebbszoveg {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.kiemeles {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #ddebb1;
	color:#526052;
}
